@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  background: linear-gradient(135deg, #e5f2ff, #f6e1ff);
  border-radius: 10px;
}

.react-calendar .react-calendar__tile {
  border-radius: 10px;
  padding: 8px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}


.react-calendar .react-calendar__tile:hover {
  background-color: #c7c7c7;
  transform: scale(1.05);
}



.react-calendar .react-calendar__tile--empty {
  background-color: #efefef;
  color: black;
}

.react-calendar .react-calendar__tile--few-slots {
  background-color: #86efac;
  color: white;
}

.react-calendar .react-calendar__tile--some-slots {
  background-color: #fef08a;
  color: black;
}

.react-calendar .react-calendar__tile--fully-booked {
  background-color: #f87171;
  color: white;
}

.react-calendar .react-calendar__tile:focus {
  background-color: #b8e1f5;
  outline: none;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.5);
}


.react-calendar .react-calendar__tile--disabled {
  background-color: #e0e0e0;
  color: #a1a1a1;
  pointer-events: none;
}



.react-calendar__navigation {
  background: #c3d9f1;
  display: flex;
  justify-content: center;
  gap: 6px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}


.react-calendar__navigation button {
  background: #8ac2ff;
  border-radius: 5px;
  color: #333;
  padding: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.react-calendar__navigation button:hover {
  background-color: #1f8bff;
  color: white;
}

.react-calendar__navigation__label {
  font-size: 18px;
  font-weight: bold;
  color: #2d3748;
}


.react-calendar__navigation__prev2,
.react-calendar__navigation__next2 {
  background: transparent;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}


.react-calendar__navigation__prev2:hover,
.react-calendar__navigation__next2:hover {
  color: #2ecc71;
}